@model IEnumerable<PetDiverse.Data.Animal>

@{
    ViewData["Title"] = "Index";
    bool isAdmin = User.IsInRole("ADMIN");
}
<h1 class="text-center">@(isAdmin ? "Todos os animais" : "Meus animais")</h1>
<div class="row">
    <div class="col-md-10">
        <p>
            <a asp-action="Create" class="btn btn-roxo">+ Adicionar</a>
        </p>
    </div>
    <div class="col-md-2 d-flex align-items-center">
        <input type="checkbox" id="mostrarAdotados" class="form-check-input me-2" />
        <label for="mostrarAdotados" class="form-check-label">Mostrar adotados</label>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Idade
            </th>
            <th>
                Sexo biológico
            </th>
            <th>
                Porte
            </th>
            <th>
                Tipo de animal
            </th>
            <th>
                Raça
            </th>
            @if (User.IsInRole("ADMIN"))
            {
                <th>Doador</th>
            }
            <th>
                Adotado
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="animal-row" data-adotado="@item.Adotado.ToString().ToLower()">
            <td>
                <a class="link-roxo" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Nome)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idade) @item.ContagemIdade.ToString().ToLower()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SexoBiologico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Porte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoAnimal.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Raca.Descricao)
            </td>
                <td>
                    @if (User.IsInRole("ADMIN"))
                    {
                        <a class="link-roxo" asp-controller="PessoaDoadora" asp-action="Details" asp-route-id="@item.PessoaDoadora.Id">@item.PessoaDoadora?.Nome</a>
                    }
                </td>
            <td>
                @if (item.Adotado)
                {
                    <span>Adotado</span>
                }
                else
                {
                    <span>Ainda não foi adotado</span>
                }
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-roxo" type="button" id="dropdownMenuButton_@item.Id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton_@item.Id">
                        <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        <a class="dropdown-item" asp-controller="RegistroVacina" asp-route-idAnimal="@item.Id">Vacinas</a>
                        <a class="dropdown-item" asp-controller="RegistroCirurgia" asp-route-idAnimal="@item.Id">Cirurgias</a>
                        <button class="dropdown-item btn-adocao" animal-id="@item.Id">Foi adotado</button>
                        <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                    </div>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {

        // Esconde adotados por padrão
        $(".animal-row[data-adotado='true']").hide();

        // Checkbox mostra/esconde adotados
        $("#mostrarAdotados").change(function () {
            if ($(this).is(":checked")) {
                $(".animal-row[data-adotado='true']").show();
            } else {
                $(".animal-row[data-adotado='true']").hide();
            }
        });

        // Botão "Foi adotado"
        $(".btn-adocao").click(function () {
            $.post('/Animal/Adotado', { id: $(this).attr("animal-id") }, function () {
                window.location.reload();
            });
        });

    });
</script>