@model IEnumerable<PetDiverse.Data.TipoAnimal>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Tipos de animais</h1>

<p>
    <a asp-action="Create" class="btn btn-roxo">+ Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-roxo" type="button" id="dropdownMenuButton_@item.Id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton_@item.Id">
                        <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        <a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">Detalhar</a>
                        <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                    </div>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
