@model IEnumerable<PetDiverse.Data.RegistroCirurgia>

@{
    ViewData["Title"] = "Registros de cirurgias";
}

<h2>Registros de Vacina de @ViewData["NomeAnimal"]</h2>

<p>
    <a asp-action="Create" asp-route-idAnimal="@ViewData["IdAnimal"]">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Data da cirurgia
            </th>
            <th>
                Cirugia
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoCirurgia.Descricao)
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-roxo" type="button" id="dropdownMenuButton_@item.Id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton_@item.Id">
                        <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                    </div>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>